.heading{
    font-size: 40px;
    color: burlywood;
    font-weight: 900;
}
.content{
    font-size: 20px;
    color: burlywood;

}
.event{
    font-size: 40px;
    color: burlywood;
    font-weight: 900;
}